.dockerignore
.env
.vs
.vscode
docker-bake.hcl
docker-compose.yml
docker-compose.*.yml
**/bin
**/obj
bin/
obj/
output
*.tar

# Ignore generated build artifacts
.buildcharts

# Keep minimal git info for SourceLink
!.git/HEAD
!.git/config
!.git/refs/heads/master
!.gitignore