.dockerignore
.env
#.git # needed for sourcelink when building the image inside docker
#.gitignore # needed for sourcelink when building the image inside docker
.vs
.vscode
docker-bake.hcl
docker-compose.yml
docker-compose.*.yml
**/bin
**/obj
bin/
obj/
output
*.tar

# Ignore generated build artifacts
.buildcharts