services:

  krp:
    # Run build first using:
    #   docker buildx bake -f .buildcharts\docker-bake.hcl docker
    # image: eddietisma/krp:1.0.0-local
    image: eddietisma/krp:latest
    container_name: krp
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443" # optional
    environment:
      AZURE_CONFIG_DIR: /root/.krp/.azure
      KRP_HOSTS: /windows_etc/hosts
    volumes:
      - ~/.kube:/root/.kube
      - ~/.krp:/root/.krp
      - /c/Windows/System32/drivers/etc/:/windows_etc/ # win
      # - /etc/:/mnt/etc/ # linux/mac
