on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      commit:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-22.04

    permissions:
      actions: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up BuildCharts
        uses: buildcharts/setup-action@v1
        
      - name: Generate BuildCharts
        uses: buildcharts/generate-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker build and test
        uses: docker/bake-action@v6
        with:
          source: .
          files: .buildcharts/docker-bake.hcl
        env:
          VERSION: ${{ inputs.version }}
          COMMIT:  ${{ inputs.commit }}
        # with:
        #   set: |
        #     base.cache-from=type=gha,scope=krp
        #     build.cache-to=type=gha,scope=krp,mode=max

      - name: BuildCharts Summary
        uses: buildcharts/summary-action@v1

      - name: Save Docker image
        run: |
          docker save eddietisma/krp:${{ inputs.version }}-${{ inputs.commit }} -o krp-${{ inputs.version }}-${{ inputs.commit }}.tar

      - name: Upload nuget
        uses: actions/upload-artifact@v4
        with:
          name: nuget
          path: .buildcharts/output/nuget

      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: test
          path: .buildcharts/output/test

      - name: Upload published artifacts
        uses: actions/upload-artifact@v4
        with:
          name: publish
          path: .buildcharts/output/publish

      - name: Upload docker
        uses: actions/upload-artifact@v4
        with:
          name: docker
          path: krp-${{ inputs.version }}-${{ inputs.commit }}.tar

