on:
  release:
    types: [released]

jobs:
  determine_version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.strip_v.outputs.version }}
    steps:
      - name: Strip "v" from version
        id: strip_v
        run: |
          echo "version=${GITHUB_REF_NAME#v}" >> "$GITHUB_OUTPUT"

  build:
    needs: [determine_version]
    uses: ./.github/workflows/build.yml
    with:
      version: ${{ needs.determine_version.outputs.version }}
      commit: ${{ github.sha }}

  publish-nuget:
    needs: [build]
    uses: ./.github/workflows/publish-nuget.yml
    secrets: inherit

  publish-docker:
    needs: [determine_version, build]
    uses: ./.github/workflows/publish-docker.yml
    with:
      version: ${{ needs.determine_version.outputs.version }}
      commit: ${{ github.sha }}
    secrets: inherit