on:
  schedule:
    - cron: '0 0 * * 0' # every Sunday 00:00 UTC
  workflow_dispatch:

jobs:
  prebuild:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
      commit:  ${{ steps.version.outputs.commit }}

    steps:
    - uses: actions/checkout@v4
      with: { fetch-depth: 0 }

    - name: Skip job if no commits
      if: ${{ github.event_name == 'schedule' }}
      run: |
        if [ -z "$(git log --since='1 week ago' -1)" ]; then
          echo "::warning::No commits in 7 days - skipping"
          exit 78
        fi

    - name: Calculate version
      id: version
      run: |
        short_sha=$(git rev-parse --short HEAD)

        # latest tag or 0.0.1 if none
        latest_release=$(git tag -l --sort=-creatordate | head -n 1)
        base_version=${latest_release:-0.0.1}
        base_version=${base_version#v}

        version="${base_version}-beta.${{ github.run_number }}"
        echo "Calculated version: $version ($short_sha)"

        echo "version=$version" >> "$GITHUB_OUTPUT"
        echo "commit=$short_sha" >> "$GITHUB_OUTPUT"

  build:
    needs: [prebuild]
    uses: ./.github/workflows/build.yml
    with:
      version: ${{ needs.prebuild.outputs.version }}
      commit: ${{ needs.prebuild.outputs.commit }}

  publish-nuget:
    needs: [prebuild, build]
    uses: ./.github/workflows/publish-nuget.yml
    secrets: inherit

  publish-docker:
    needs: [prebuild, build]
    uses: ./.github/workflows/publish-docker.yml
    with:
      version: ${{ needs.prebuild.outputs.version }}
      commit: ${{ needs.prebuild.outputs.commit }}
      push_latest: false
    secrets: inherit
